@charset "utf-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&amp;display=swap');

/*
font-family:'Pretendard';
*/


/* 초기화 */
html {width:100%;height:100%;overflow-y:scroll;background:#111;}
body {width:100%;height:100%;margin:0;padding:0;font-family:'Pretendard', 'Noto Sans KR','Sans-serif', 'dotum';color:#fff;font-size:14px;font-weight:300;line-height:160%;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-family:'Pretendard', 'Noto Sans KR','Sans-serif', 'dotum';color:#fff;font-size:14px;font-weight:300;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

ul, li, dl, dt, dd {margin:0;padding:0;list-style:none}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle;font-size:14px;outline:none;}
input, button {margin:0;padding:0;color:#fff;font-family:'Pretendard', 'Noto Sans KR', 'Sans-serif', 'dotum';font-size:14px;font-weight:300;}
input[type="submit"] {cursor:pointer}
button {cursor:pointer}

textarea, select {font-family:'Pretendard', 'Noto Sans KR','Sans-serif', 'dotum';color:#fff;font-size:14px;font-weight:300;outline:none;}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:14px}
a {color:#fff;text-decoration:none;cursor:pointer;}
/*a:hover {color:#1348d5;text-decoration:none;}*/

*, :after, :before {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}


input[type=text], textarea, button {-webkit-appearance:none; -moz-appearance:none; appearance:none;}
input, textarea, button, select {-webkit-border-radius:0; -moz-border-radius:0; -o-border-radius:0; border-radius:0;}

.placeholdersjs {color:#999 !important}
input::placeholder {color:#999;}
input::-webkit-input-placeholder {color:#999;}
input::-ms-input-placeholder {color:#999;}
textarea::placeholder {color:#999;}
textarea::-webkit-input-placeholder {color:#999;}
textarea::-ms-input-placeholder {color:#999;}

.placeholdersjs {color:#999 !important}